<template>

  <th data-label="Name" scope="row">
    <lightning-button variant="base" label={row.className} title={row.status} onclick={showModal} class="slds-var-m-left_x-small"></lightning-button>
    
  </th>
  <td data-label="Status Column">
    <div class="slds-truncate" title={row.Id}>{row.status}</div>
  </td>
  <td data-label="Date Column">
    <div class="slds-truncate" title={row.CompletedDate}>{row.completedDate}</div>
  </td>
  <td data-label="Button Column">
    <lightning-button label={row.buttonLabel} title="Non-primary action" onclick={handleClick} class="slds-var-m-left_x-small"></lightning-button>
  </td>
        <template if:true={openModal}>  
          <div class="slds-modal slds-fade-in-open slds-backdrop">  
            <div class="slds-modal__container">  
              <div class="slds-modal__header">  
                <lightning-button-icon icon-name="utility:close" alternative-text="Close this window" size="large"  
                  variant="bare-inverse" onclick={closeModal} class="slds-modal__close">  
                </lightning-button-icon>  
                <h2>Logs</h2>  
              </div>  
              <table class="slds-table slds-table_bordered slds-border_left slds-border_right">
                <thead>
                  <tr class="slds-line-height_reset">
                    <th class="" scope="col">
                      <div class="slds-truncate" title="LogName">Log Name</div>
                    </th>
                    <th class="" scope="col">
                      <div class="slds-truncate" title="LogStatus">Message</div>
                    </th>   
                  <th class="" scope="col">
                    <div class="slds-truncate" title="LogDate">Stacktrace</div>
                  </th>            
                </tr>
                </thead>
                <tbody>
                  <template for:each={logsData} for:item="logrow">
                    <c-log-rows key={logrow.id}
                    logrow={logrow}
                     >
                    </c-log-rows>
                  </template>
                </tbody>
              </table>   
              <div class="slds-modal__footer">  
                <lightning-button icon-name="utility:close" label="close" variant="brand" onclick={closeModal}>  
                </lightning-button>  
              </div>  
            </div>  
          </div>  
        </template>  

</template>