<template>
  <lightning-card  title="Batch runner">
<!--Table with batches--> 
    <table class="slds-table slds-table_bordered slds-border_left slds-border_right">
        <thead>
          <tr class="slds-line-height_reset">
            <th class="" scope="col">
              <div class="slds-truncate" title="Name">Batch Name</div>
            </th>
            <th class="" scope="col">
              <div class="slds-truncate" title="Status">Status</div>
            </th>   
          <th class="" scope="col">
            <div class="slds-truncate" title="Date">Completed Date</div>
          </th>
          <th class="" scope="col">
            <div class="slds-truncate" title="Button">  </div>
          </th>
        </tr>
        </thead>
        <tbody>
          <template for:each={apexJobData} for:item="row">
            <c-child-row key={row.id}
            row={row}
             >
            </c-child-row>
          </template>
        </tbody>
      </table>   


    </lightning-card>
</template>