<template>
    <th data-label="NameLog" scope="logrow">
        <div class="slds-truncate" title={logrow.Name}>{logrow.name}</div>
      </th>
      <td data-label="Date Column">
        <div class="slds-truncate" title={logrow.Message}>{logrow.message}</div>
      </td>    
      <td data-label="StackTrace Column">
        <div class="slds-truncate" title={logrow.ST}>{logrow.stackTrace}</div>
      </td>
</template>